In [1]:
import numpy as np
from sqlalchemy import create_engine
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, precision_score, recall_score, f1_score
from sklearn.svm import SVC
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

In [18]:
filepath = '../Resources/BMI_Datasets/underweight.csv'
medical_df = pd.read_csv(filepath)
medical_df.head(10)

,ID#,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Lvl,BMI,Smoker,Stroke
0,231,Female,81,0,0,Yes,Self-employed,Rural,81.95,16.9,Never,1
1,250,Male,3,0,0,No,children,Rural,95.12,18.0,Unknown,0
2,252,Female,8,0,0,No,Private,Urban,110.89,17.6,Unknown,0
3,256,Female,52,0,0,Yes,Private,Urban,77.59,17.7,Former,0
4,283,Female,3,0,0,No,children,Urban,73.74,16.0,Unknown,0
5,291,Male,13,0,0,No,children,Urban,114.84,18.3,Unknown,0
6,322,Male,11,0,0,No,children,Rural,79.03,16.5,Unknown,0
7,370,Female,4,0,0,No,children,Rural,93.25,16.6,Unknown,0
8,377,Female,0,0,0,No,children,Rural,88.11,15.5,Unknown,0
9,381,Male,4,0,0,No,children,Rural,106.22,16.7,Unknown,0

In [19]:
# Drop ID# column
medical_df.drop(columns=['ID#'], inplace=True)
medical_df.head()

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Lvl,BMI,Smoker,Stroke
0,Female,81,0,0,Yes,Self-employed,Rural,81.95,16.9,Never,1
1,Male,3,0,0,No,children,Rural,95.12,18.0,Unknown,0
2,Female,8,0,0,No,Private,Urban,110.89,17.6,Unknown,0
3,Female,52,0,0,Yes,Private,Urban,77.59,17.7,Former,0
4,Female,3,0,0,No,children,Urban,73.74,16.0,Unknown,0

In [20]:
medical_df['Stroke'].value_counts()

0    336
1      1
Name: Stroke, dtype: int64

In [26]:
# Need at least 2 positive stroke cases to continue