In [1]:
# Imprting dependencies
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
stroke_df = pd.read_csv("healthcare-dataset-stroke-data.csv")
stroke_df.head(20)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
10,12109,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
11,12095,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
12,12175,Female,54.0,0,0,Yes,Private,Urban,104.51,27.3,smokes,1
13,8213,Male,78.0,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
14,5317,Female,79.0,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
15,58202,Female,50.0,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
16,56112,Male,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
17,34120,Male,75.0,1,0,Yes,Private,Urban,221.29,25.8,smokes,1
18,27458,Female,60.0,0,0,No,Private,Urban,89.22,37.8,never smoked,1
19,25226,Male,57.0,0,1,No,Govt_job,Urban,217.08,NaN,Unknown,1

In [3]:
stroke_cleaned_df = stroke_df.drop(["id"], axis=1)
stroke_cleaned_df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [ ]:
#? INTEGERS
#int_cols = stroke_cleaned_df.select_dtypes(include=['int'])

#for cols in int_cols.columns:
    #stroke_cleaned_df[cols] = pd.to_numeric(stroke_cleaned_df[cols], downcast = 'integer')

In [4]:
stroke_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [7]:
stroke_cleaned_df.columns = ['ID', 
                             'Gender', 
                             'Age', 
                             'Hypertension', 
                             'Heart_Disease', 
                             'Ever_Married', 
                             'Work_Type', 
                             'Residence_Type',
                             'Avg_Glucose_Lvl', 
                             'BMI', 
                             'Smoking_status', 
                             'Stroke']

In [11]:
stroke_cleaned_df['ID'] = stroke_df.index + 1
stroke_cleaned_df

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Lvl,BMI,Smoking_status,Stroke,ID
ID,,,,,,,,,,,,
1,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,1,1
2,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,2,2
3,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,3,3
4,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,4,4
5,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
5106,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,5106,5106
5107,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,5107,5107
5108,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,5108,5108
5109,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,5109,5109
5110,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,5110,5110

In [14]:
unique_ages = stroke_df['age'].unique()
unique_ages

array([6.70e+01, 6.10e+01, 8.00e+01, 4.90e+01, 7.90e+01, 8.10e+01,
       7.40e+01, 6.90e+01, 5.90e+01, 7.80e+01, 5.40e+01, 5.00e+01,
       6.40e+01, 7.50e+01, 6.00e+01, 5.70e+01, 7.10e+01, 5.20e+01,
       8.20e+01, 6.50e+01, 5.80e+01, 4.20e+01, 4.80e+01, 7.20e+01,
       6.30e+01, 7.60e+01, 3.90e+01, 7.70e+01, 7.30e+01, 5.60e+01,
       4.50e+01, 7.00e+01, 6.60e+01, 5.10e+01, 4.30e+01, 6.80e+01,
       4.70e+01, 5.30e+01, 3.80e+01, 5.50e+01, 1.32e+00, 4.60e+01,
       3.20e+01, 1.40e+01, 3.00e+00, 8.00e+00, 3.70e+01, 4.00e+01,
       3.50e+01, 2.00e+01, 4.40e+01, 2.50e+01, 2.70e+01, 2.30e+01,
       1.70e+01, 1.30e+01, 4.00e+00, 1.60e+01, 2.20e+01, 3.00e+01,
       2.90e+01, 1.10e+01, 2.10e+01, 1.80e+01, 3.30e+01, 2.40e+01,
       3.40e+01, 3.60e+01, 6.40e-01, 4.10e+01, 8.80e-01, 5.00e+00,
       2.60e+01, 3.10e+01, 7.00e+00, 1.20e+01, 6.20e+01, 2.00e+00,
       9.00e+00, 1.50e+01, 2.80e+01, 1.00e+01, 1.80e+00, 3.20e-01,
       1.08e+00, 1.90e+01, 6.00e+00, 1.16e+00, 1.00e+00, 1.40e+00,
       1.72e+00, 2.40e-01, 1.64e+00, 1.56e+00, 7.20e-01, 1.88e+00,
       1.24e+00, 8.00e-01, 4.00e-01, 8.00e-02, 1.48e+00, 5.60e-01,
       4.80e-01, 1.60e-01])

In [13]:
stroke_cleaned_df = stroke_cleaned_df.set_index('ID')
stroke_cleaned_df

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Lvl,BMI,Smoking_status,Stroke
ID,,,,,,,,,,,
1,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,1
2,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,2
3,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,3
4,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,4
5,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,5
...,...,...,...,...,...,...,...,...,...,...,...
5106,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,5106
5107,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,5107
5108,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,5108
5109,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,5109
5110,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,5110